### общие исключения
# IDE
/ssh
.ssh/
/.ssh
.cache
/.cache
.idea/
.vscode-server
/.vscode-server
.bash_history
# VSCode Settings
/.vscode

# // Bitrix
/bitrix
/upload
/sites
/markup
/vendor
/log
urlrewrite*

# Deny *.xml in root
/*.xml

# // Bitrix

*.tar
*.gz
*.tgz
*.zip
*.pdf
_not_used__*